<div id="list" class="pure-u-1">
  {{#each todos as |todo|}}

    {{#link-to 'todos.todo-message' todo.id}}
      <div class="email-item pure-g">
          <div class="pure-u">
              <h5 class="email-name">{{todo.from.name}}</h5>
              <h4 class="email-subject">{{truncate todo.title 35}}</h4>
              <p class="email-desc">
                {{truncate todo.body}}
              </p>
          </div>
      </div>
    {{/link-to}}

  {{/each}}
</div>

{{outlet}}
